*{
    box-sizing: border-box;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: initial;
}

.header{
    width: 100vw;
    height: 84.8vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mobileLogo{
    position: absolute;
    width: 7.466vw;
    height: 7.466vw;
    left: 5.333vw;
    top: 12.8vw;
    border-radius: 3.2vw;
}

#burger{
    cursor: pointer;
    position: absolute;
    width: 11.733vw;
    height: 4vw;
    left: 77.9vw;
    top: 16.266vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#burger div{
    background: #FFFFFF;
    border-radius: 2.666vw;
    height: 0.8vw;
    width: 6.666vw;
}

#burger .line1{
    align-self: flex-end;
}

#burger .line2{
    align-self: center;
}

#burger .line3{
    width: 9.333vw;
}

#headLine1{
    position: relative;
    top: 33.33vw;
    margin: auto;
    border: 0.133vw solid #FFFFFF;
    transform: rotate(90deg);
    width: 4.266vw;
    filter: brightness(0.8);
}

#headTitleMobile{
    position: relative;
    top: 33.33vw;
    margin: 12vw auto;
    font-size: 4.266vw;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6.666vw;
    width: 48vw;
    text-align: center;
}

#headTitleWeb{
    display: none;
}

#headLine2{
    position: relative;
    top: 33.33vw;
    margin: auto;
    border: 0.133vw solid #FFFFFF;
    transform: rotate(90deg);
    width: 4.266vw;
    filter: brightness(0.8);
}

.content{
    padding-left: 5.333vw;
    padding-right: 5.333vw;
}

.sectionTitle{
    font-weight: 700;
    font-size: 4.266vw;
    text-align: center;
    margin-bottom: 3.466vw;
}

.sectionLine{
    width: 12vw;
    background: black;
    margin: auto;
    margin-bottom: 6.133vw;
}

.servicesContainer{
    width: 89.333vw;
    margin: auto;
}

.services{
    display: flex;
    flex-direction: column;
}

.servicesContent{
    width: 89.333vw;
    height: 79.2vw;
    border-radius: 1.333vw;
    background-size: cover;
    margin-bottom: 16.533vw;
}

.servicesLabel{
    position: relative;
    top: 74.533vw;
    margin: auto;
    background: #FFFFFF;
    border-radius: 1.333vw;
    height: 9.333vw;
    width: 53.6vw;
    font-size: 3.733vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.servicesView{
    position: relative;
    top: 40.08vw;
    color: #FFFFFF;
    width: 25.866vw;
    height: 10.133vw;
    border-radius: 1.333vw;
    border: 0.5px solid rgba(255, 255, 255, 1);
    margin: auto;
    font-size: 3.733vw;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesWriteUp{
    margin: auto;
    width: 76.533vw;
    height: 16.533vw;
    font-size: 3.733vw;
    line-height: 6.666vw;
    color: #FFFFFF;
    position: relative;
    top: 3vw;
    text-align: center;
}

.footer1Web{
    display: none;
}

.footer1Mobile{
    /* width: 100vw; */
    height: 112vw;
    background: #000000;
    padding: 4vw 5.333vw;
}

.footer1Mobile#footer1P1{
    color: white;
    font-size: 4.266vw;
    line-height: 6.666vw;
    height: 8vw;
}

.footer1Mobile #footer1P2{
    color: #707070;
    font-size: 3.733vw;
    line-height: 6.666vw;
    font-weight: 300;
    height: 6.933vw;
}

.footer1Mobile div:nth-of-type(1){
    width: 100%;
    height: 10.4vw;
    border-radius: 1.333vw;
    margin-top: 2.666vw;
    margin-bottom: 7.2vw;
    display: flex;
}

.footer1Mobile div input{
    width: 70%;
    border: none;
    height: 100%;
    padding-left: 3.733vw;
    border-radius: 1.333vw 0 0 1.333vw;
    font-weight: 300;
    font-size: 3.733vw;
    line-height: 6.666vw;
    align-items: center;
    color: #A6A6A6;
}

.footer1Mobile div input::placeholder{
    color: #A6A6A6;
    font-style: normal;
    font-weight: 300;
    font-size: 3.733vw;
    line-height: 6.666vw;
    font-family: Comfortaa;
}

.footer1Mobile div button{
    width: 30%;
    height: 100%;
    background: #9599C6;
    border-radius: 0px 1.333vw 1.333vw 0px;
    font-size: 3.733vw;
    line-height: 6.666vw;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.footer1Mobile .footer1Links span{
    height: 9.333vw;
    font-weight: 300;
    font-size: 3.733vw;
    line-height: 12vw;
    color: #9A9A9A;
    margin-bottom: 2.666vw;
}

.footer1Mobile .footer1Links hr{
    border: 0.133vw solid #9A9A9A;
    background: #9A9A9A;
    margin-bottom: 2.666vw;
    width: 100%;
}

.footer1Mobile .footer1Links .plusSign{
    float: right;
}

.footer2{
    background: #000000;
    padding: 4.266vw 5.333vw;
    margin-top: 66.666vw;
}

#first{
    font-size: 5.333vw;
    line-height: 6.666vw;
    color: #FFFFFF;    margin-bottom: 2vw;
}

#signUp{
    font-size: 4.266vw;
    line-height: 6.666vw;
    color: #707070;
    margin: 0;
}

.footer2 .inputContact{
    height: 10.4vw;
    border-radius: 1.333vw;
    margin-top: 2.666vw;
    display: flex;
}

.footer2 .inputContact input{
    width: 70%;
    padding: 0;
    border: none;
    height: 100%;
    padding-left: 3.733vw;
    border-radius: 1.33vw 0 0 1.33vw;
    font-size: 4.266vw;
    color: #A6A6A6;
}

.footer2 .inputContact input::placeholder{
    color: #A6A6A6;
    font-size: 4.266vw;
    line-height: 6.666vw;
}

.footer2 .inputContact button{
    width: 30%;
    height: 100%;
    background: #FF896F;
    border-radius: 0px 1.33vw 1.33vw 0px;
    border: 0;
    font-size: 4.266vw;
    color: #FFFFFF;    
}

.footer2 .bottomLinks{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-style: normal;
    font-weight: 300;
    font-size: 4.266vw;
    line-height: 45px;
    text-decoration-line: underline;
    margin-top: 11.466vw;
    line-height: 12.5vw;
}

.footer2 .bottomLinks .group1{
    width: 38.133vw;
}

.footer2 .bottomLinks .group2{
    width: 42.666vw;
}

.footer2 .bottomLinks a{
    color: #707070;
}

@media only screen and (min-width: 600px) {
    .header{
        height: 43.26vw;
    }

    .header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 43.26vw;
        width: 100vw;
        background-size: cover;
        z-index: -1;
        filter: brightness(0.7);
    }

    #mobileLogo{
        display: none;
    }

    #burger{
        display: none;
    }

    #headLine1{
        transform: rotate(90deg);
        width: 2.22vw;
        border: 0.06944vw solid #FFFFFF;
        margin: auto;
        margin-top: 16.375vw;
        position: initial;
        filter: brightness(0.8);
        
    }

    #headTitleMobile{
        display: none;
    }
    
    #headTitleWeb{
        margin: 4.348vw auto;
        height: 2.360vw;
        font-weight: 300;
        font-size: 1.666vw;
        color: #FFFFFF;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: brightness(0.8);
    }
    
    #headLine2{
        transform: rotate(90deg);
        width: 2.22vw;
        border: 0.06944vw solid #FFFFFF;
        margin: auto;
        position: initial;
        filter: brightness(0.8);
    }

    .content{
        padding-left: 5.486vw;
        padding-right: 5.486vw;
    }

    .sectionTitle{
        font-weight: 700;
        font-size: 1.666vw;
        text-align: center;
        margin-bottom: 1.25vw;
    }
    
    .sectionLine{
        width: 2.777vw;
        background: black;
        margin: auto;
        margin-bottom: 2.777vw;
    }

    .servicesContainer{
        width: 89.333vw;
        margin: auto;
    }
    
    .services{
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 82.43vw;
        flex-wrap: wrap;
    }

    .servicesContent{
        width: 37.916vw;
        height: 22.222vw;
        border-radius: 0.694vw;
        background-size: cover;
        margin-bottom: 7.152vw;
    }

    .servicesLabel{
        top: 20.763vw;
        border-radius: 0.347vw;
        height: 2.916vw;
        width: 18.402vw;
        font-size: 1.25vw;
        font-weight: 300;
    }

    .servicesView{
        top: 12.638vw;
        width: 7.083vw;
        height: 2.708vw;
        border: 1px solid #FFFFFF;
        border-radius: 0.347vw;
        font-weight: 300;
        font-size: 1.25vw;
    }

    .servicesWriteUp{
        width: 32.569vw;
        height: 6.458vw;
        font-size: 1.25vw;
        line-height: 2.43vw;
        top: 1.5vw;
        text-align: center;
    }

    .footer1Mobile{
        display: none;
    }

    .footer1Web{
        display: block;
        color: #FFFFFF;
        background-color: black;
        padding: 4.236vw 0 0 5.347VW;
    }
    
    .footer1Web h2{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 1.388vw;
        line-height: 2.43vw;
    }
    
    .footer1Web p{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 0.972vw;
        line-height: 2.43vw;
        color: rgba(255, 255, 255, 0.65);
        margin-bottom: 1vw;
    }
    
    .footer1Web form{
        width: 20.833vw;
        height: 2.77vw;
        display: flex;
        margin-bottom: 9.444vw;
    }
    
    .footer1Web form input{
        width: 13.819vw;
        border-radius: 0.347vw 0 0 0.347vw;
        border: none;
        padding: 0.555vw;
    }
    
    .footer1Web form input::placeholder{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 0.833vw;
        line-height: 2.43vw;
        color: rgba(112, 112, 112, 0.7);
    }
    
    .footer1Web form button{
        width: 7.013vw;
        border: none;
        border-radius: 0 0.347vw 0.347vw 0;
        cursor: pointer;
    }
    
    .footer1Web a{
        color: white;
        width: 1.388vw;
        height: 1.388vw;
        margin: 0.347vw;
        font-size: 2vw;
    }
    
    .footer1Web a i{
        font-size: 2vw;
    }
}