.header {
    background-image: url(../images/mobile-images/shop_13.jpg);
}

/* WEB VIEW */

@media only screen and (min-width: 600px) {

    .header{
        background-image: none;
    }
    
    .header::before {
        background-image: url(../images/mobile-images/shop_13.jpg);
    }
}